/* Resto del CSS */
body {
    font-family: 'Arial', sans-serif;
    background-color: #c9d6ff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: #c9d6ff;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Merriweather', serif;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;

}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #c9d6ff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.books {
    text-align: center;
    padding: 2rem 1rem;
    width: 100%;
    max-width: 1200px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}

.book-item img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.book-item img:hover {
    transform: scale(1.05);
}

.book-item p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #333;
}

.book-item {
  display: inline-block;
  margin: 10px;
}

.content {
    text-align: center;
    padding: 2rem 1rem;
    max-width: 800px;
}

footer {
    background-color: #333;
    color: #c9d6ff;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Barra de busqueda */
.search-container {
    position: relative;
    margin: 20px;
}

.search-bar {
    width: 600px;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    color: #333;
}

.search-bar::placeholder {
    color: #aaa;
}

/* Carrusel */
.carousel-container {

        height: 600px;
        margin: 0;
        display: grid;
        grid-template-rows: 500px 100px;
        grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
        align-items: center;
        justify-items: center;
      }
      
      main#carousel {
        grid-row: 1 / 2;
        grid-column: 1 / 8;
        width: 100vw;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transform-style: preserve-3d;
        perspective: 600px;
        --items: 5;
        --middle: 3;
        --position: 1;
        pointer-events: none;
      }
      
      div.item {
        position: absolute;
        width: 300px;
        height: 400px;
        background-color: coral;
        --r: calc(var(--position) - var(--offset));
        --abs: max(calc(var(--r) * -1), var(--r));
        transition: all 0.25s linear;
        transform: rotateY(calc(-10deg * var(--r)))
          translateX(calc(-300px * var(--r)));
        z-index: calc((var(--position) - var(--abs)));
      }
      
      div.item:nth-of-type(1) {
        --offset: 1;
        background-image: url(img/qr.jpeg);
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el elemento */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; 
      }
      div.item:nth-of-type(2) {
        --offset: 2;
        background-image: url(img/qr2.jpeg);
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el elemento */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; 
      }
      div.item:nth-of-type(3) {
        --offset: 3;
        background-image: url(img/qr3.jpeg);
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el elemento */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; 
      }
      div.item:nth-of-type(4) {
        --offset: 4;
        background-image: url(img/qr4.jpeg);
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el elemento */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; 
      }
      div.item:nth-of-type(5) {
        --offset: 5;
        background-image: url(img/qr5.jpeg);
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el elemento */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; 
      }
      
      input:nth-of-type(1) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      input:nth-of-type(1):checked ~ main#carousel {
        --position: 1;
      }
      
      input:nth-of-type(2) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
      }
      input:nth-of-type(2):checked ~ main#carousel {
        --position: 2;
      }
      
      input:nth-of-type(3) {
        grid-column: 4 /5;
        grid-row: 2 / 3;
      }
      input:nth-of-type(3):checked ~ main#carousel {
        --position: 3;
      }
      
      input:nth-of-type(4) {
        grid-column: 5 / 6;
        grid-row: 2 / 3;
      }
      input:nth-of-type(4):checked ~ main#carousel {
        --position: 4;
      }
      
      input:nth-of-type(5) {
        grid-column: 6 / 7;
        grid-row: 2 / 3;
      }
      input:nth-of-type(5):checked ~ main#carousel {
        --position: 5;
      }
      

      .filtro{
        display: none;
    }